/****************************/
/* Site-wide CSS formatting */
/****************************/

* {
    box-sizing: border-box;
}

#header {
    background-color: #488AC7;
    padding: 20px;
    text-align: center;
    font-family: Georgia;
    font-size: 30px;
    color: white;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    margin: auto auto 8px auto;
}

#footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

ul {
    width: auto;
    padding: 10px;
    background-color: #98AFC7;
    margin: auto auto auto auto;
    font-family: Georgia;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    text-align: center;
}

li {
    display: inline;
    margin: 0px 4px;
}

a.button {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 18px 5px 18px;
}

a:hover, a.on {
    color: #cc3333;
    background-color: #ffffff;
}

button.link { 
    background: none;
    border: none;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding: 6px 18px 5px 18px;
    font-family: Georgia;
    font-size: 15px;
}

button.link:hover {
    color: #cc3333;
    background-color: #ffffff;
}

input.link, button.large {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    margin-top: 18px;
    padding: 6px;
    font-family: Georgia;
    font-size: 15px;
}

input.link:hover {
    color: #cc3333;
    background: none;
    border-width: 2px;
}

.leftColumn {
    float: left;
    padding: 20px;
    width: 20%;
    height: auto;
    background: #B9D9EB;
    margin-right: 10px;
    margin-top: 8px;
}

.centerColumn {
    /* float: center; */
    padding: 20px;
    width: 79%;
    height: auto;
    /* background-color: #B9D9EB; */
    margin: auto;
    margin-top: 8px;
    display: inline-block;
}

#main:after {
    content: "";
    display: table;
    clear: both;
}

#content {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: #ffffff;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 20px;
    background: #5b93b3;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 20px;
    background: #5b93b3;
    cursor: pointer;
}

/***************************************************/
/* index.php and register.php specific CSS classes */
/***************************************************/

form.tableForm {
    display: table;
}

p.tableForm {
    display: table-row;
}

.error {
    color: red;
}

label.tableForm {
    display: table-cell;
}

.joinedInput {
    display:table-cell;
    width:100px;
    padding-left:0;
    padding-right:0;
}

.soloInput {
    display:table-cell;
    width:250px;
}

/***************************************************/
/* userRoles.php, userRoles1.php, userRoles2.php
/* specific CSS classes */
/***************************************************/

.tabcontent {
    display:none;
}
